.EgCLV {
  background-color: rgba(240, 248, 255, 0.3) !important;
  border: 0 !important;
  /* color: white; */
}

.cIFnvd {
  color: white !important;
}
.cIFnvd:hover {
  color: black !important;
}

.kVEIdA {
  color: white !important;
}

.sc-pyfCe.cuRXYf > span {
  color: white !important;
}

.sc-pyfCe.cuRXYf path {
  fill: white !important;
}
.sc-pyfCe.cuRXYf path:hover {
  fill: black !important;
}

.sc-jSUZER.bxUOeX button:hover{
  color: aqua !important;
}

.sc-jSUZER.test2TheRightCode button:hover{

  color: aqua !important;
}
